<p style="color: green"><%= notice %></p>

<h1>Users,index</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<h2><% if user_signed_in? %>
          <%= button_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        <% end %></h2>
