<div class="reg-class">
<div class="nav">   
  <div class="wrapper">
    <a href="/" class="back"><%= image_tag("left.png") %></a>
    <% if user_signed_in? %>
      <div class="name"><%= current_user.name %></div>
    <% end %>
    <h5><%= 'LOGIN' %></h5>
    <h6 id="dsa">Log in</h6>
    
    <% if user_signed_in? %>
      <div class="btn">
        <%= button_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      </div>
    <% end %>    
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, required: true, autocomplete: "current-password", placeholder: "Password" %>
  </div>
  <div class="actions" id="login1">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="classbottom"><%= link_to "Forgot password?", new_password_path(resource_name) %></div>

</div>
