<div class="nav nav2">
  <div class="wrapper">
    <% if user_signed_in? %>
      <a href="/" class="back"><</a>    
      <div class="name">Hello, <%= current_user.name %></div>  
      <div><h5><%= @title %></h5></div>
      <div class="btn">      
          <%= button_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo: false } %>      
      </div>
    <% else %>
      <div class='main-entry'>
        <div><%= link_to 'Sign In', new_user_session_path %></div>
        <div class="second"><%= link_to 'Sign Up', new_user_registration_path %></div>
      </div>
    <% end %>
    
  </div>
  <div class="mybud">
    <h1> MY BUDGET </h1>
  </div>
</div>  
    
