
 <% if user_signed_in? %>
  <div class="nav">   
    <div class="wrapper">
      <a href="/" class="back"><%= image_tag("left.png") %></a>
      <% if(@pay==nil && @newcat==nil && @cat_id==nil) %>
        <h5><%= 'CATEGORIES' %></h5> 
      <% elsif(@newcat=="NEW CATEGORY") %>
        <h5><%= 'NEW CATEGORY' %></h5>
      <% elsif(@cat_id) %>
        <h5><%= 'NEW TRANSACTION' %></h5>
      <% else %>      
      <%= @pay.name.upcase %>
      <% end %>
      <div class="btn">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      </div>   
    </div>
  </div>
 <% end %>



  